In [12]:
import numpy as np
import pandas as pd

# score=[10,15,20,25]
# pd.Series(data=score, index=['a','b','c','d'])

# football = [12,34,55]
# np.array(football)


# data = {'prodID':['101','102','103','104','104'],
#        'prodname':['X','Y','Z','X','W'],
#        'profit':['2738','2727','3479','7347','3743']}
# dataframe = pd.DataFrame(data)
# grouped_data = dataframe.groupby('prodID')
# # grouped_data.max()
# # grouped_data.describe()

# s1 = pd.Series(['a','b'])
# s2 = pd.Series(['c','d'])
# # pd.concat([s1,s2])

# d = np.arange(0,10)
# d
# np.max(d)

# d = np.array(([13,35,74,48],[23,37,37,38],[73,39,93,39]))
# d[:,(1,2)]

df = pd.DataFrame({'set1':['A','B']})
df
new = ['P','Q']
df['set2'] = new
df

  set1 set2
0    A    P
1    B    Q